<div class="form-group">
  <label for="source">System</label>
  <select name="source" id="source" required class="form-control"
          ng-model="vm.item.parent"
          ng-options="item.name for item in vm.systems track by item.id"
          focus-if focus-delay="100"></select>
</div>
<div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" placeholder="Name"
         ng-model="vm.item.name" required>
</div>
<div class="form-group">
  <label>Description</label>
  <textarea ng-model="vm.item.description" class="form-control"></textarea>
</div>
<div class="form-group">
  <label for="name">Technology</label>
  <input type="text" class="form-control" id="name" placeholder="tech"
         ng-model="vm.item.tech" required>
</div>
