<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">C4 Lab</a>
        </div>

        <p class="navbar-text navbar-right c4lab-meta">
            <c4-lab-meta></c4-lab-meta>
        </p>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a popover-placement="bottom" uib-popover-template="'_share.html'">
                        <span class="glyphicon glyphicon-duplicate"> </span> Share
                    </a>
                </li>
                <li class="dropdown" uib-dropdown>
                    <a href="#" uib-dropdown-toggle>
                        <span class="glyphicon glyphicon-picture"> </span> Export <span class="caret"></span>
                    </a>
                    <ul class="uib-dropdown-menu">
                        <li ng-repeat="format in $ctrl.exportFormats">
                            <a ng-click="$ctrl.export($event, format)" href="#">{{format}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>

<script type="text/ng-template" id="_share.html">
    <div style="width:10em;">
        <a ng-href="{{$ctrl.href()}}" target="_blank">
            <span class="glyphicon glyphicon-new-window" > </span>
            Link to this page</a>
    </div>
</script>