<div>
    <form class="form-inline">
        <div class="form-group">
            <label for="zoomableNodes">Zoom to node</label>
            <select name="zoomableNodes" class="form-control" ng-model="$ctrl.zoom" ng-change="$ctrl.onZoom()">
                <option ng-value="undefined">--none--</option>
                <option ng-repeat="node in $ctrl.expandableNodes track by node.id"
                    value="{{node.id}}">{{node.path}}</option>
            </select>
        </div>
        <div class="form-group" ng-transclude>
        </div>
    </form>
    <uib-tabset>
        <uib-tab heading="svg">
            <div ng-bind-html="$ctrl.svg"></div>'
        </uib-tab>
        <uib-tab heading="dot">
            <p>This is for debugging purposes</p>
            <!-- TODO: a disabled text area -->
            <pre>{{$ctrl.dot}}</pre>
        </uib-tab>
    </uib-tabset>
    <div>