<c4-lab-nav text="$ctrl.text" on-export="$ctrl.onExport(format, href)" zoom="$ctrl.zoom"></c4-lab-nav>
<div class="container-fluid">
    <div class="row">
        <div ng-class="$ctrl.codeExpanded ? 'col-md-6' : 'col-md-4'">
            <c4-lab-editor on-parse="$ctrl.onParse(text)"></c4-lab-editor>

            <button class="btn btn-default btn-block" type="button" ng-click="$ctrl.codeExpanded = !$ctrl.codeExpanded">
                <span class="glyphicon"
                    ng-class="$ctrl.codeExpanded ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right'"></span> 
                    Show {{$ctrl.codeExpanded ? 'less' : 'more'}} code
            </button>
        </div>
        <div ng-class="$ctrl.codeExpanded ? 'col-md-6' : 'col-md-8'">
            <c4-lab-viewer ng-model="$ctrl.dot">
            </c4-lab-viewer>
        </div>
    </div>
</div>