<div>
  <div class="modal-header"> <h3 class="modal-title">Edit Actor</h3> </div>
  <div class="modal-body">
    <form name="item">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name"
               ng-model="vm.item.name" required focus-if focus-delay="100">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea ng-model="vm.item.description" class="form-control"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()"
            ng-disabled="item.$invalid">OK</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
  </div>
</div>
