<div>
  <h2>Editor</h2>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default"
            ng-click="vm.editActor()">
      <c4-lab-icon type="actor"></c4-lab-icon>
      New <u>a</u>ctor
    </button>
    <button type="button" class="btn btn-default"
            ng-click="vm.editSystem()">
      <c4-lab-icon type="system"></c4-lab-icon>
      New <u>s</u>ystem
    </button>
    <button type="button" class="btn btn-default"
            ng-click="vm.editConnection()">
      <c4-lab-icon type="connection"></c4-lab-icon>
      New <u>c</u>onnection
    </button>
  </div>

  <p class="small text-muted">
    Hit ? to see keyboard shortcuts.
  </p>

  <h3 class="btn-group">{{vm.graph.items.length}} nodes with {{vm.graph.edges.length}} connections</h3>
  <ol>
    <li ng-repeat="item in vm.graph.items track by item.id"
        ng-class="{'bg-info': vm.isHighlighted(item.id)}">

      <c4-lab-icon type="{{item.type}}"></c4-lab-icon>
      {{item.name}}
      <button class="btn btn-xs btn-default" ng-click="vm.editItem(item)">Edit</button>
      <button class="btn btn-xs btn-danger" ng-click="vm.deleteItem(item)">Delete</button>
      <ol>
        <li ng-repeat="item in vm.edges(item) track by item.id"
            ng-mouseenter="vm.highlight(item.destinationId)"
            ng-mouseleave="vm.highlight(null)">
          <c4-lab-icon type="connection"></c4-lab-icon>
          {{item.description}}
          <button class="btn btn-xs btn-default" ng-click="vm.editItem(item)">Edit</button>
          <button class="btn btn-xs btn-danger" ng-click="vm.deleteItem(item)">Delete</button>
        </li>
      </ol>
    </li>
  </ol>
</div>
