<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">C4 Lab</a>
    </div>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <label class="control-label">Title</label>
        <input type="text" ng-model="vm.graph.title" class="form-control"
               ng-model-options="{ debounce: 500 }"
               ng-change="vm.saveToStorage()"/>
      </div>
    </form>

    <p class="navbar-text navbar-right">
      <c4-lab-meta></c4-lab-meta>
    </p>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a ng-click="vm.reset()" href="#">
            <span class="glyphicon glyphicon-file"> </span>
            New
          </a>
        </li>
        <li>
          <a href="#"
             ngf-select="vm.importJSON($files)"
             ngf-pattern="'.json'"
             ngf-accept="'.json'">
            <span class="glyphicon glyphicon-open-file"> </span>
            Open
          </a>
        </li>
        <li class="dropdown" uib-dropdown>
          <a href="#" uib-dropdown-toggle>
            <span class="glyphicon glyphicon-picture"> </span>
            Export <span class="caret"></span>
          </a>
          <ul class="uib-dropdown-menu">
          <li ng-repeat="format in vm.exportFormats">
            <a ng-click="vm.save(format)" href="#">{{format.extension}}</a>
          </li>
        </ul>
        </li>
        <li>
          <a ui-sref="share.modal()">
            <span class="glyphicon glyphicon-duplicate"> </span>
            Share
          </a>
        </li>
        <li>
          <a href="#" ng-click="vm.save()">
            <span class="glyphicon glyphicon-save-file"> </span>
            Save
          </a>
        </li>
        </li>
        <li ng-show="vm.lastSaved">
          <p class="navbar-text">
            Last saved at {{vm.lastSaved | date:'shortTime'}}
          </p>
        </li>
      </ul>
    </div>
  </div>
</nav>
