<div>
  <div c4-lab-menu graph="vm.graph"></div>


  <h1>{{vm.graph.title}}</h1>
  <ol class="breadcrumb">
    <li ng-class="{active: !vm.rootItem}">
      <a href="#" ng-click="vm.itemSelected()">Context</a>
    </li>
    <li ng-repeat="item in vm.breadcrumbs() track by item.id">
      {{item.name}}
    </li>
  </ol>

  <div class="row">
    <div class="col-md-4" c4-lab-editor
         graph="vm.graph" root-item="vm.rootItem" item-selected="vm.itemSelected(item)"></div>
    <div class="col-md-8" c4-lab-viewer graph="vm.graph" root-item="vm.rootItem"></div>
  </div>
</div>
